body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.info{
  width: 200px;
  height: auto;
  border: 1px solid grey;
  background-color: rgb(181, 156, 204);
  color: white;
  padding: 10px;
  margin: 40px;
}
.infos{
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
}